# Node modules
node_modules/
npm-debug.log

# Compiled output
dist/
tmp/
out-tsc/
coverage/

# System files
.DS_Store
Thumbs.db

# Environment files
*.env

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
__pycache__/
*credentials*

