<div style="text-align: center; width: 100%;">
    <h1>{{ title }}</h1>
    <p>
        <strong>Angular Frontend and Flask+Postgres Backend: </strong>
        <a href="https://github.com/Mixelll/sentiment-dashboard">sentiment-dashboard</a>
    </p>
    <p>
        <strong>API, Web-scraping and Data pipelines: </strong>
        <a href="https://github.com/Mixelll/decorated-API">decorated-API</a>,
        <a href="https://github.com/Mixelll/decortools">decortools</a>
    </p>
</div>
<app-sentiment-chart></app-sentiment-chart>
