<form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
  <div formArrayName="tickers" class="ticker-list">
    <div *ngFor="let ticker of tickersList; let i = index">
      <mat-form-field appearance="fill">
        <mat-label>Ticker</mat-label>
        <input matInput [value]="ticker" disabled>
        <button mat-icon-button matSuffix (click)="removeTicker(i)" type="button">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Add Ticker</mat-label>
    <input matInput formControlName="tickerInput">
    <button mat-icon-button matSuffix (click)="addTicker()" type="button">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Relevance Score</mat-label>
    <input matInput type="number" formControlName="relevanceScore">
  </mat-form-field>
  <mat-checkbox formControlName="scaleByRelevance">Scale Sentiment by Relevance</mat-checkbox>
  <mat-checkbox formControlName="scaleCircleByRelevance">Scale Circle Size by Relevance</mat-checkbox>
  <mat-checkbox formControlName="plotLines">Plot Lines</mat-checkbox>

  <!-- Dropdown for source selection with tooltip -->
  <mat-form-field appearance="fill" matTooltip="{{ getSelectedSourcesTooltip() }}">
    <mat-label>Filter by Sources</mat-label>
    <mat-select [formControl]="selectedSourcesControl" multiple>
      <mat-option *ngFor="let source of sourcesList" [value]="source">
        {{ source }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Dropdown for topic selection with tooltip -->
  <mat-form-field appearance="fill" matTooltip="{{ getSelectedTopicsTooltip() }}">
    <mat-label>Filter by Topics</mat-label>
    <mat-select [formControl]="selectedTopicsControl" multiple>
      <mat-option *ngFor="let topic of topicsList" [value]="topic">
        {{ topic }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Topic Relevance Score</mat-label>
    <input matInput type="number" [formControl]="topicRelevanceScoreControl">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update Chart</button>
</form>
<canvas id="sentimentChart"></canvas>
